* {
    margin: 0;
    padding: 0;
}

html {
    color: white;
    background-color: #07131F;
    font-family: 'Ancizar Serif', serif;
    font-size: 16px;
}

header {
    width: 100%;
    height: auto;
    border-bottom: solid 1px #CDA470;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adara-logo {
    width: 5rem;
    border-radius: 50%;
    margin: 1.25rem;
}

nav ul li {
    color: #CDA470;
    display: inline;
    flex-wrap: wrap;
    margin-right: 1.25rem;
}

nav ul li a {
    text-decoration: none;
    color: #CDA470;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    nav ul li {
        display: block;
        padding: 0.15rem 0;
    }
}

h2 {
    padding-bottom: 0.5rem;
}

h2, h3, h4 {
    color: #34B7DF;
    text-align: center;
}


p {
    color: #CDA470;
}

.mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #34B7DF;
    border-radius: 18px;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #CDA470;
}

.mission-container h2 {
    display: block;
    margin: 1rem;
}

.mission-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    margin: 1.25rem;
}

@media only screen and (max-width: 865px) {
    .about-panel {
        flex-direction: column;
    }
}

.theme-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 30%;
    height: 10rem;
    padding-bottom: 20rem;
    margin: 0 0.25rem;
}

@media only screen and (max-width: 865px) {
    .theme-panel{
        width: 100%;
        height: 10rem;
        padding-bottom: 15rem;
    }
}

@media only screen and (max-width: 460px) {
    .theme-panel{
        width: 100%;
        height: 20rem;
        padding-bottom: 12rem;
    }
}

.theme-panel img {
    width: 10rem;
}

.theme-panel ul {
    color: #CDA470
}


h2 {
    padding-bottom: 0.5rem;
}

h2, h3, h4 {
    color: #34B7DF;
    text-align: center;
}


p {
    color: #CDA470;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #34B7DF;
    border-radius: 18px;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #CDA470;
}

.members-container h2 {
    display: block;
    margin: 1rem;
}

.team-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    margin: 1.25rem;
}

@media only screen and (max-width: 865px) {
    .team-panel {
        flex-direction: column;
    }
}

.member-panel a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 21rem;
    padding: 0.75rem;
}

.member-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.member-panel img {
    width: 10rem;
    border-radius: 50%;
}

.member-panel ul {
    color: #CDA470
}

.election {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #34B7DF;
    border-radius: 18px;
    box-shadow: 0.1rem 0.1rem 0.25rem 0.1rem #CDA470;
    text-align: center;
}

.election-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

button {
    text-align: center;
    margin: auto;
    padding: 1rem;
    border-radius: 25px;
    color: #07131F;
    background-color: #34B7DF;
    font-family: 'Ancizar Serif', serif;
    font-weight: 700;
    cursor: pointer;
}

footer p {
    text-align: center;
    padding-bottom: 0.5rem;
}
